{% extends "common/layout-home.html" %}

{% block homeBanner %}
<div class="banner_box">
  <div class="banner_inner">
    <h2 class="slogan">聚天下英才</h2>
    <p class="des">
      追随JavaScript这门语言
      <a href="/login" title="出发" class="btn">进入战场</a>
    </p>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="hp-dialog">
  <div class="hp-box">
    <form action="/user/register" method="post">
      <h1>达到战场</h1>
      <p class="error">{{ content }}</p>
      <input name="name" type="text" placeholder="请输入用户名：lijie"/> 
      <input name="password" type="text" placeholder="请输入密码：123456"/>
      <button>登录</button>
    </form>
  </div>
</div>
<div class="hp-overlay"></div>
{% endblock %}

